<header>
  <mat-toolbar color="primary">
    <h1>RecaPizza</h1>
    <div class="link-rack">
      <button mat-raised-button color="primary" routerLink="/accueil" routerLinkActive="activated">accueil</button>
      <button mat-raised-button color="primary" routerLink="/menu" routerLinkActive="activated">menu</button>
      <button mat-raised-button color="primary" routerLink="/contact" routerLinkActive="activated">contact</button>
    </div>
    
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>


<footer>footer</footer>